<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second</title>
    <link rel="stylesheet" href="second.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div>
                <p id="p1">Parents & Teacher</p>
            </div>
            <div>
               <button id="btn1">Family Login</button>
            </div>
            <div>
                <button id="btn2">Class Login</button>
            </div>
        </div>
        <div class="nav2">
            <div class="box1">ABCD.com</div>
            <div class="box2">
                <p id="p2">The Leader in Educational Games for Kids!</p>
            </div>
        </div>

        <div class="nav3">
            <div class="box-k" id="grade">
                <p id="p3">Grade</p>
                <h1 id="H1">K</h1>
            </div>
            <div class="box-1" id="grade">
                <p id="p3">Grade</p>
                <h1 id="H1">1</h1>
            </div>
            <div class="box-2" id="grade">
                <p id="p3">Grade</p>
                <h1 id="H1">2</h1>
            </div>
            <div class="box-3" id="grade">
                <p id="p3">Grade</p>
                <h1 id="H1">3</h1>
            </div>
            <div class="box-4" id="grade">
                <p id="p3">Grade</p>
                <h1 id="H1">4</h1>
            </div>
            <div class="box-5" id="grade">
                <p id="p3">Grade</p>
                <h1 id="H1">5</h1>
            </div>
        </div>
    </div>



    <script src="app.js"></script>
</body>
</html>